[Unit]
Description=Minecraft Server: %i
# Ensure network devices are up and runing
After=network.target

[Service]
WorkingDirectory=/opt/minecraft/instances/%i

User=minecraft
Group=minecraft

# If we crash, keep it goin
Restart=always

# Start in a detached screen
ExecStart=/usr/bin/screen -DmS mc-%i ./start.sh

# Attach to screen & send shutdown commands to server
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "save-all"\015'
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "stop"\015'

[Install]
# Tells us the stage of boot to auto-start when enabed via `systemctl enable minecraft@my_server`
WantedBy=multi-user.target